@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #eee;
}

.header {
	
}

.container {
	padding: 0 30px;
	max-width: 1140px;
	margin: 0 auto;
}

.nav {
	padding: 15px 0;
	background-color: #fff;
}

.nav-row {
	display: flex;
	justify-content: space-between;
}

.logo {
	color: #000;
	font-weight: 700;
	font-size: 18px;
} 

.list {
	display: flex;
	color: #000;
}

.list li {
	margin-left: 30px;
}

.list li a {
	color: #000;
}

@media screen and (max-width: 448px) {
	.nav {
		padding: 20px 0;
	}

	.logo {
		font-size: 23px;
	}

	.list {
		display: none;
	}
}